<% if(site.tags.length){ %>
    <div class="widget-warp">
        <h3 class="widget-title">About</h3>
        <div class="widget">
            邮箱 saten.liubo@gmail.com
            微博 @咖啡豆抹茶——绝赞喝奶中
        </div>
    </div>
<% }%>